<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self'; img-src 'self'; media-src 'none'; script-src {% if noscript %}'none'{% else %}'self' 'nonce-{{ csp_nonce }}' 'strict-dynamic'{% endif %}; object-src 'none'; base-uri 'none'">
		<title>{% block title %}sellout engine{% endblock %}</title>
		<link href="{{ url_for("static", path="/98.css") }}" rel="stylesheet">
	</head>
	<body>
		{% block main %}{% endblock %}
	</body>
</html>
